# Python bytecode & cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual Environments
.venv/
env/
venv/
ENV/

# Databases & Runtime Data
# *.db
*.db-journal
*.db-wal

# Environments & Local Secrets
.env
.env.*
!.env.example

# IDEs & System files
.vscode/
.idea/
.DS_Store
